<header id="header">
	<div class="inner">
		<a href="../../../" class="logo">
			<span class="symbol"><img src="../../../images/logo-WhiteOnBlack.png" alt="" /></span>
		</a>
		<div class="header-actions">
			<ul class="icons">
				<li><a href="https://x.com/4ydam" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.youtube.com/@4ydam" class="icon brands style2 fa-youtube"><span class="label">YouTube</span></a></li>
				<li><a href="https://assetstore.unity.com/publishers/139274" class="icon brands style2 fa-unity"><span class="label">Unity</span></a></li>
				<li><a href="https://store.steampowered.com/developer/4ydam" class="icon brands style2 fa-steam"><span class="label">Steam</span></a></li>
			</ul>
			<button class="theme-toggle theme-toggle-partial" type="button" aria-label="Toggle dark mode" aria-pressed="false">
				<span class="theme-switch" aria-hidden="true"></span>
				<span class="theme-icon" aria-hidden="true">&#127774;</span>
			</button>
		</div>
	</div>
</header>
